<div class="navbar">
  <div class="nav-right">
    <div class="nav-home">
      <button class="button" routerLink="/">
        <svg
          class="icon"
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 1024 1024"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M946.5 505L560.1 118.8l-25.9-25.9a31.5 31.5 0 0 0-44.4 0L77.5 505a63.9 63.9 0 0 0-18.8 46c.4 35.2 29.7 63.3 64.9 63.3h42.5V940h691.8V614.3h43.4c17.1 0 33.2-6.7 45.3-18.8a63.6 63.6 0 0 0 18.7-45.3c0-17-6.7-33.1-18.8-45.2zM568 868H456V664h112v204zm217.9-325.7V868H632V640c0-22.1-17.9-40-40-40H432c-22.1 0-40 17.9-40 40v228H238.1V542.3h-96l370-369.7 23.1 23.1L882 542.3h-96.1z"
          ></path>
        </svg>
      </button>
    </div>
    <div class="nav-title">
      <p>Facility Booking</p>
    </div>
  </div>

  <div class="nav-left">
    <div class="menu" *ngIf="!currentUser">
      <div class="item">
        <a href="#" class="link">
          <span>Menu</span>
          <svg viewBox="0 0 360 360" xml:space="preserve">
            <g id="SVGRepo_iconCarrier">
              <path
                id="XMLID_225_"
                d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"
              ></path>
            </g>
          </svg>
        </a>
        <div class="submenu">
          <div class="submenu-item">
            <a routerLink="/login" class="submenu-link">Log In</a>
          </div>
          <div class="submenu-item">
            <a href="#" class="submenu-link">Sign Up</a>
          </div>
          
        </div>
      </div>
    </div>

    <div class="menu" *ngIf="currentUser">
      <div class="item">
        <span class="link">Hello, {{ currentUser.username }}</span>
        <div class="submenu">
          <div class="submenu-item">
            <a (click)="logout()" class="submenu-link">Sign Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
