<app-navbar></app-navbar>

<div class="admin-container">
  <!-- Sidebar Navigation -->
  <div class="sidebar">
    <h2>Admin Panel</h2>
    <ul>
      <li class="side-panel"><a routerLink="manage-facilities" routerLinkActive="active">Manage Facilities</a></li>
      <li class="side-panel"><a routerLink="add-facility" >Add New Facility</a></li>
      <li class="side-panel"><a routerLink="view-bookings" >View Bookings</a></li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="admin-content">
    <router-outlet></router-outlet> <!-- Dynamic content based on the route -->
  </div>
</div>
